* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.presentation {
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 15px;
}
.realisation {
    padding-bottom: 10px;

}
img {
    width: 200PX;
    padding: 5px;
}

p, h2, h3 {
    margin-left: 15px;
    padding: 10px;
}

.monTableau {
    padding: 5px;
    margin: 5px;
    
    
    
}

form input {
    padding: 5px;
    margin: 5px;
}